{{#if auth}}
    {{#if isDriverPage}}
        <h1>
            Страница водителя
        </h1>
    {{/if}}
    {{#if isAdminPage}}
        <h1>
            Страница администратора
        </h1>
    {{/if}}
    {{#if isUserPage}}
        <h1>
            Страница пользователя
        </h1>
    {{/if}}
{{else}}
    {{#if isDriverPage}}
        <h1>
            Список водителей:
        </h1>
        {{#each driversList}}
            <p>
                {{#each this}}
                    {{username}}
                {{/each}}
            </p>
        {{/each}}
    {{else}}
        <div class="close-routes">
            <h1>
                Ближайшее прибытие
            </h1>
            {{#if routes}}
                <table>
                    <tr>
                        <th>Время</th>
                        <th>Остановка</th>
                        <th>Номер транспорта, тип</th>
                    </tr>
                    {{#each routes}}
                        <tr>
                            <td>{{time}}</td>
                            <td>{{stop}}</td>
                            <td>{{number}}, {{type}}</td>
                        </tr>
                    {{/each}}
                </table>
            {{else}}
                <p>В ближайшее время маршрутов нет!</p>
            {{/if}}
        </div>
    {{/if}}
{{/if}}