<h1>Расписание маршрута</h1>
{{#if isUserPage}}
          <div class="nav-table">
              <table>
                  {{#each schedule}}
                      <tr>
                          <td style="background-color: #0162a7;color: white">
                              {{#if @index}}
                                  Выходные
                              {{else}}
                                  Будние
                              {{/if}}
                          </td>
                          {{#each this}}
                              <td>
                                  {{#each this}}
                                      <span>
                                          {{time}}
                                      </span>
                                  {{/each}}
                              </td>
                          {{/each}}
                      </tr>
                  {{/each}}
              </table>
          </div>
          <div class="after-table-info">
            <p></p>
          </div>
{{else}}
          <div class="nav-table">
            <table>
                {{#each schedule}}
                    <tr>
                        <td style="background-color: #0162a7;color: white">
                            {{#if @index}}
                                Выходные
                            {{else}}
                                Будние
                            {{/if}}
                        </td>
                        {{#each this}}
                            <td>
                                {{#each this}}
                                    <span>
                                        {{time}}
                                    </span>
                                {{/each}}
                            </td>
                        {{/each}}
                    </tr>
                {{/each}}
            </table>
          </div>
          <div class="after-table-info">
            <p></p>
          </div>
{{/if}}